{
    "FORK_CHAINDATA_PATH": ""CANONICAL_CHAINDATA_PATH": "/your_path_to_fork_snapshot-data/mainnet-data-20190808/tomo/chaindata",",
    "CANONICAL_CHAINDATA_PATH": "/your_path_to_canonical_snapshot-data/mainnet-data-20190808/tomo/chaindata",
    "REPORT_OUTPUT_NAME": "injected-accounts.xlsx",
    "MONGODB_URI": "mongodb://localhost:27017/tomochain"
}